<div class="board">
	<div class="task-list backlog" data-group="backlog">
		<h5 class="title">Backlog</h5>
		<ul class="tasks"></ul>

		<div>
			<button class="add-button">+ Add card</button>
			<button class="submit-button display-none">Submit</button>
		</div>
	</div>
	
	<div class="task-list ready" data-group="ready">
		<h5 class="title">Ready</h5>
		<ul class="tasks"></ul>

		<div>
			<button class="add-button">+ Add card</button>
		</div>
	</div>
	
	<div class="task-list in-progress" data-group="in-progress">
		<h5 class="title">In Progress</h5>
		<ul class="tasks"></ul>

		<div>
			<button class="add-button">+ Add card</button>
		</div>
	</div>
	
	<div class="task-list finished" data-group="finished">
		<h5 class="title">Finished</h5>
		<ul class="tasks"></ul>

		<div>
			<button class="add-button">+ Add card</button>
		</div>
	</div>
</div>