#app-login-btn {
  width: 160px;
}

.visibility-hidden {
	visibility: hidden;
}

.display-none {
	display: none;
}

.main {
	background: #0079BF;
	color: white;
	font-size: 18px;
}

.main.popup-open {
	overflow: hidden;
}

.board {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	gap: 24px;
	padding-top: 20px;
}

.task-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	background: #EBECF0;
	color: #000;
	border-radius: 10px;
	padding: 12px;
	max-height: 60vh;
	overflow: auto;
	width: calc(calc(100% - calc(20px * 4)) / 4)
}

.task-list .tasks:empty {
	height: 20px;
}

.main.admin .task-list .task::before {
	content: attr(data-belongs-login) ": ";
	font-weight: bold;
}

.task-list .task {
	cursor: pointer;
	transition: background 0.09s;
	user-select: none;
}

.task-list .task:hover {
	background: #dddddd;
}

.task-list .task:active {
	background: #bbbbbb;
}

@media (max-width: 800px) {
	.board {
		flex-direction: column;
	}

	.task-list {
		width: 100%;
	}
}

.task-list .tasks {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.task-list .task,
.task-list .add-button {
	border-radius: 5px;
}

.task-list .task,
.task-list .add-input {
	background: #fff;
	padding: 8px;
	margin-bottom: 15px;
}

.task-list .add-input .add-input-input {
	outline: none;
	border: none;
	border-bottom: 0.5px solid #000;
	width: 100%;
}

.task-list .add-input .add-input-input:focus::placeholder {
	opacity: 0;
}

.task-list .task:last-child {
	margin-bottom: 0;
}

.task-list .add-button,
.task-list .submit-button {
	appearance: none;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: #5E6C84;
	padding: 4px;
}

.task-list .add-button:not([disabled="true"]):hover {
	background: white;
}

.task-list .add-button:not([disabled="true"]):active {
	background: #dddddd;
}

.task-list .add-button[disabled="true"] {
	opacity: 0.5;
	cursor: not-allowed;
}

.task-list .submit-button {
	background: #0079BF;
	color: white;
	padding: 4px 8px;
	border-radius: 5px;
}

.task-list .submit-button:hover {
	filter: brightness(1.1);
}

.task-list .submit-button:active {
	filter: brightness(0.9);
}

.task-list .add-task-select {
	width: 100%;
	cursor: pointer;
	height: 42px;
}

.footer {
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	background: #0067A3;
	width: 100%;
	padding: 17px 21px;
}

.footer .left {
	display: flex;
	flex-direction: row;
	gap: 36px;
}

.footer .link {
	color: #80d5f9;
	font-style: italic;
}

#header-right-part {
	z-index: 1000;
}

.user-menu {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 6px;
	position: relative;
}

.user-menu .avatar {
	border-radius: 50%;
}

.user-menu:hover .arrow .arrow-path {
	fill: #0079BF;
}

.user-menu .arrow.active {
	transform: rotate(180deg);
}

.user-menu .menu {
	position: absolute;
	list-style-type: none;
	margin: 0;
	top: 131%;
	right: 0;
	border-radius: 5px;
	padding: 0;
	background: #FFF;
	border-radius: 5px;
	min-width: 134px;
}

.user-menu .menu::before {
	content: "";
	position: absolute;
	background: #FFF;
	width: 11px;
	height: 11px;
	top: calc(-11px / 2);
	right: 33px;
	transform: rotate(45deg);
	z-index: -1;
}

.user-menu .menu-item {
	background: #FFF;
	margin-bottom: 3px;
	padding: 8px 7px 9px 7px;
	color: #000;
	cursor: pointer;
	z-index: 2;
}

.user-menu .menu-item:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.user-menu .menu-item:last-child {
	margin-bottom: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.user-menu .menu-item:hover {
	background: #CCC;
}

.user-menu .menu-item:active {
	filter: brightness(0.9);
}

/* popup */
.popup-open {
	overflow: hidden;
}

.popup-open .popup-edit-overlay,
.popup-open .popup-edit {
	display: block;
}

.popup-edit-overlay {
	display: none;
	background: rgba(0, 0, 0, 0);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	backdrop-filter: blur(2px);
}

.popup-edit {
	display: none;
	position: fixed;
	top: 65px;
	left: 20px;
	width: calc(100% - 40px);
	height: 80%;
	background: #fff;
	color: #000;
	z-index: 1000;
	padding: 22px 28px;
	border-radius: 5px;
}

.popup-edit .popup-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 35px;
}

.popup-edit .popup-header .popup-close {
	position: relative;
	width: 32px;
	height: 32px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	border-radius: 1px;
}

.popup-edit .popup-header .popup-close:hover {
	box-shadow: 0 0 5px 1px #000;
}

.popup-edit .popup-header .popup-close:active {
	transform: scale(0.9);
}

.popup-edit .popup-header .popup-close::before,
.popup-edit .popup-header .popup-close::after {
	content: "";
	position: absolute;
	width: 1px;
	height: 32px;
	background-color: #000;
}

.popup-edit .popup-header .popup-close::before {
	transform: rotate(45deg);
}

.popup-edit .popup-header .popup-close::after {
	transform: rotate(-45deg);
}

.popup-edit #popup-description {
	height: 100%;
	width: 100%;
	white-space: pre;
}

.popup-edit .popup-controls {
	position: absolute;
	bottom: 20px;
	right: 20px;
}