<div class="user-menu">
	<div class="avatar-wrapper">
		<img src="../../images/user-avatar.jpg" alt="Avatar" class="avatar" class="avatar-image">
	</div>

	<svg class="arrow" width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path class="arrow-path" d="M1.415 0.209991L6 4.79499L10.585 0.209991L12 1.62499L6 7.62499L0 1.62499L1.415 0.209991Z" fill="white"/>
	</svg>

	<ul class="menu display-none">
		<li class="menu-item" id="app-logout-li">Log out</li>
	</ul>
</div>